* {
  margin: 0;
  padding: 0;
}

body {
  perspective: 800px;
  transform-style: preserve-3d;
  perspective-origin: 300px 300px;
}

div {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 200px;
  height: 200px;
  background-image: url(./images/cat.jpeg);
  /* transform-origin 是根据当前元素定位的 */
  transform-origin: 0 0;
  /* X Y Z 的顺序不一样，最终的旋转结果也会不一样 */
  /* 三个轴的方向，会随着图片的转动而变换方向 */
  transform: rotateY(90deg) rotateX(0deg);
}
